*{
    margin : 0;
    padding: 0;
    box-sizing:  border-box;
    
}
div{
   display: block;
}

h1{
    font-size: 48px;
    line-height: 100px;
    color: #ffffff;
}
h2{
    color: #ffb120;
    font-size: 38px;
}
body{
    width: 100%;
    color: #000000;
    background-color: #DBE2EF;
    
}

.header{
    font-family: "Anta", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: #F9F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    filter : drop-shadow(0px 0px 0.8px #09001d);
    transition: color .3s;
}

.logo:hover{
    color:rgb(51, 51, 51); 
}
.navbar{
    display: flex;
    align-items: space-around;
    justify-content: center;
    
}

.navbar a{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px; */
    padding : 10px 5px;
    font-size: 18px;
    color: #000000;
    /* background-color:  #d1d1d1; */
    text-decoration: none;
    font-weight: 500;
    margin-left: 8px;
    transition : color .3s;
    position: relative;
}

.navbar a:hover,
.navbar a.active {
    color: #000000;
    opacity: color .8;
}

.navbar a.active::after,
.navbar a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background:#000000;
    position: absolute;
    bottom: 12px;
    left: 41px;

}

img{
    margin: 2.5px;
    vertical-align: middle;
}



#middle-container{
    text-align: right;
    position: relative;
    padding:  0 20px;
    margin-top: 96px;
    background-image: url(Assets/Game_console.jpg);
    background-size: cover;
    height: 87vh;
    width: 100%;
    background-position: top 50% right 0;
}

.hangman-img{
    position: absolute;
    left: 60%;
}

#middle-container > .play-button{
    position:absolute;
    left: 45%;
    bottom : 35%;
}

.play-button{
    font-family:"Anta", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 4px solid rgb(255, 177, 32);								 
    color: black;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(255, 0, 0);
}

.play-button:active{
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
}

.play-button:hover::after{
    content: "";
    height: 2px;
    width: 65%;
    background:#000000;
    position: absolute;
    bottom: 12px;
    left: 20px;
}